<!-- eslint-disable prettier/prettier -->
<!-- BADGE -->

<a [routerLink]="['/productos', product.id]">
  <div class="relative">
    <!-- Badge -->
    <div class="flex justify-start gap-2 absolute top-1 left-1 z-10">
      @if (product.is_popular) {
      <app-badge name="Más Vendido" type="popular" />
      } @if (product.is_on_sale && product.discountPercentage) {
      <app-badge [name]="'-' + product.discountPercentage + '%'" type="discount" />
      }
    </div>
    <!-- Imagen -->
    <div class="block relative h-48 rounded overflow-hidden">
      <img [ngSrc]="
      product.imageUrl === ''
        ? './assets/images/product-default-image.jpeg'
        : product.imageUrl!
    " class="w-full h-full object-center object-cover transition duration-500 hover:scale-105 hover:opacity-75"
        width="300" height="250" />
    </div>
    <div class="relative mt-4 mx-2">
      <!-- <p class="text-sm font-medium text-gray-900 ">
      </p> -->
     <!-- Nombre -->
      <a href="#">

        <h3 class="text-sm font-medium text-gray-900">
          {{ product.name.trim() }}
        </h3>
      </a>
      <!-- <b class="mt-1 text-sm text-gray-500 h-[80px] truncate">
    {{ product.description.trim() }}
  </b> -->
      <!-- Precio -->
      <div class="flex justify-start gap-2 ">
        @if (product.is_on_sale && product.discountPercentage) {
        <!-- precio con descuento -->
        <p class="font-normal text-gray-600 text-sm self-stretch">
          {{
          product.price | discount : product.discountPercentage | currency : "S/ "
          }}
        </p>
        <!-- precio sin descuento -->
        <p class="text-neutral-500 text-xs mt-[2px] font-light self-stretch line-through">
          {{ product.price | currency : "S/ " }}
        </p>
        } @else {
        <!-- Cuando no hay descuento -->
        <p class="font-normal text-gray-600 text-sm self-stretch">
          {{ product.price | currency : "S/ " }}
        </p>
        }
      </div>
    </div>
    <!-- <div class="mt-2">
<app-button [name]="'Agregar al carrito'"></app-button>
</div> -->

  </div>
</a>